.trello-list-column {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;

  width: 30rem;
  background-color: #EBECF0;
  border-radius: .5rem;
  margin-right: 2rem;
  &__header {
    display: flex;
    align-items: center;

    min-height: 4rem;
  }
  &__title {
    padding: 1rem 0;
    font-weight: 700;
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 0;
  }
  &__list {
    margin-top: 1rem;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    z-index: 1;
    min-height: 0;
  }
  &__header,
  &__list{
    padding: 0 2rem;
  }
}

.column-delete {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;

  top: 1rem;
  right: 1rem;
  padding: 0;
  width: 1.5rem;
  height: 2rem;
  border: none;
  background-color: #EBECF0;
  z-index: 15;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: .2rem;
    top: 50%;
    left: 50%;
    background-color: #6B808C;
  }
  &::before { transform: translate(-50%, -50%) rotate(45deg); }
  &::after { transform: translate(-50%, -50%) rotate(-45deg); }
  &:hover {
    &::before, &::after {
      background-color: #303a43;;
    }
  }
}

